@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.username {
    font-weight: bold;
}

.chat-room {
    display: grid;
    grid-template-areas: "text buttons";
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    background-color: rgb(159, 156, 156);
    text-align: start;
    justify-content: space-between;
}

.room-name {
    font-weight: bold;
    font-size: 24px;
    color: rgb(226, 199, 75);
}

body {
    background-color: black;
}

img {
    width: 35%;
    border-radius: 20px;
    text-align: center;
    margin-top: 0;
}

h2 {
    color: rgb(226, 199, 75);
    margin-bottom: 10px;
    font-weight: bold;
}

body {
    background-color: black;
}

img {
    width: 25%;
    margin-top: 0;
}

.container {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    max-width: 60rem;
    min-height: 100vh;
}

.input-container {
    display: grid;
    grid-template:
        "a b" / 70% 30%;
    margin-top: 5%;
}

.buttons {
    padding: 5px;
    background-color: rgb(156, 154, 154);
    border-radius: 5px;
    margin-left: 1%;
    font-size: large;
}

#messageInput {
    background-color: rgb(159, 156, 156);
    padding: 5px;
    font-size: large;
    width: 25rem;
    border-radius: 5px;
}

.msgLabel {
    font-size: x-large;
    color: rgb(159, 156, 156);
}

.list-container {
    margin-bottom: 5%;
    font-size: large;
}


.delete-mark::before {
    content: '❌';
}

.delete-mark {
    background-color: rgb(159, 156, 156);
    border: none;
    box-shadow: none;
    display: none;
}

#userMsg:hover .delete-mark {
    display: grid;
}

#userMsg {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    margin-left: 30%;
    background-color: rgb(159, 156, 156);
    list-style: none;
    width: 60%;
}

#userMsg {
    display: grid;
    grid-template:
        'a b c' /80%;
}

#msg {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    background-color: rgb(224, 198, 88);
    text-align: start;
    list-style: none;
    margin-right: 30%;
    text-align: start;
    list-style: none;
    width: 60%;
    display: grid;
    grid-template:
        'a b c' /80%;
}

/*Fix this later*/
.currently-typing {
    color: whitesmoke;
    font-size: large;
}

img {
    width: 40%;
}

#reaction button {
    border: none;
    box-shadow: none;
    background-color: black;
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
}

span {
    font-size: 14px;
    color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: rgb(193, 165, 3);
}

.reaction-text {
    margin-bottom: 5px;
    font-size: 14px;
}

.msgText {
    text-align: start;
}