html {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

.msglist {
    color: gold;
}

h1 {
    color: gold;
    text-align:center;
}

li {
    list-style-type: none;
}