@page
@model IndexModel
@inject ChatX.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
    
}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<main>
    <div id="app">
        <div class="container">
            <div v-if="!connected">
                <p>Connecting to server...</p>
            </div>
            <div v-else>
                <h1><img src="/js/MicrosoftTeams-image.png"></img></h1>
                <div class="list-container" v-for="message in messages" :key="message.id">
                    <div id="userMsg" v-if="message.sender.id === @accessControl.LoggedInAccountID">
                        <p>@accessControl.LoggedInAccountName: {{ message.content }}</p>
                        <button class="delete-mark" v-on:click="deleteMessage(message.id)"></button>
                    </div>
                    <div id="msg" v-else>
                        <p>{{ message.sender.name }}: {{ message.content }}</p>
                    </div>
                </div>
                <div v-if="usersCurrentlyTyping.length > 0">
                    <p class="currently-typing" v-if="usersCurrentlyTyping.length === 1">
                        {{ usersCurrentlyTyping[0].name }} is typing...
                    </p>
                    <p class="currently-typing" v-else>Several people are typing...</p>
                </div>
                <div id="input-container">
                    <form v-on:submit.prevent="sendMessage">
                        <input id="messageInput" type="text" v-on:input="currentlyTyping" v-model="newMessage"/>
                        <button id="sendButton">Send</button>
                    </form>
                </div>
                <form class="bot" v-on:submit.prevent="loadProfiles">
                    <input id="botInput" type="text" placeholder="Find a match" autocomplete="off" v-model="prompt" />
                    <button>Search</button>
                </form>
                <div class="profile" v-for="profile in profiles">
                    <p class="matchedProfile">You matched with: {{profile.firstName}}</p>
                </div>
                
            </div>
            
        </div>
    </div>
</main>

<script>var loggedInUser = @accessControl.LoggedInAccountID</script>