@page
@model IndexModel
@inject ChatX.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}


<header>
    <h1>Welcome, @accessControl.LoggedInAccountName!</h1>
</header>

<body>
    <main class="container">
        <div class="msglist">
            <ul>
                <li id="messagesList">
                </li>
            </ul>
        </div>
        <div class="">
            <p>Message</p>
            <input type="text" id="messageInput" />
        </div>
        <div>
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </main>
</body>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
@*JS user in razor*@
<script>var loggedInUser = "@accessControl.LoggedInAccountName"</script>