@page
@model IndexModel
@{
    ViewData["Title"] = "ChatX";
    
}

<h2>Available Chatrooms</h2>

<ul>
    @foreach (var room in Model.ChatRooms)
    {
        <li>
            Name: @room.Name
            Owner: @room.Owner.Name
            <button>Join</button>
        </li>
    }
</ul>