@page
@model IndexModel
@inject ChatX.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
    
}

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<main>
    <div id="app">
        <div class="container">
            <div v-if="!connected">
                <p>Connecting to server...</p>
            </div>
            <div v-else>
                <h1>
                    <img src="~/MicrosoftTeams-image.png"/>
                </h1>
                <div class="list-container" v-for="message in messages" :key="message.id">
                    <div id="userMsg" v-if="message.sender.id === @accessControl.LoggedInAccountID">

                        <p class="msgText"><span class="userMsg-span">@accessControl.LoggedInAccountName</span> {{ message.content }}</p>

                        <div v-if="message.reactions.length > 0">
                            <div v-for="reaction in message.reactions">
                                <p class="reaction-text">{{ reaction.sender.name }} {{ reaction.value }}</p>
                            </div>
                        </div>



                        <button class="delete-mark" v-on:click="deleteMessage(message.id)"></button>

                    </div>
                    <div id="msg" v-else>

                        <p class="msgText"><span class="msg-span">{{ message.sender.name }}</span> {{ message.content }}</p>

                        <div v-if="message.reactions.length > 0">
                            <div v-for="reaction in message.reactions">
                                <p class="reaction-text">{{ reaction.sender.name }} {{ reaction.value }}</p>
                            </div>
                        </div>
                       
                        <div id="reaction">
                            <button class="emButton" v-on:click="toggelEmojiButton">👍</button>

                            <div v-if="emojiDisplay">
                                <button v-for="emoji in emojiReactions" :key="emoji" v-on:click="addingEmojiReaction(@accessControl.LoggedInAccountID, message.id, emoji)">{{emoji}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <form v-on:submit.prevent="sendMessage">
                    <input id="messageInput" type="text" v-on:input="currentlyTyping" v-model="newMessage" />
                    <button id="sendButton">Send</button>
                </form>

                <div v-if="usersCurrentlyTyping.length > 0">
                    <p class="currently-typing" v-if="usersCurrentlyTyping.length === 1">
                        {{ usersCurrentlyTyping[0].name }} is typing...
                        </p>
                    <p class="currently-typing" v-else>Several people are typing...</p>
                </div>

            </div>
        </div>
    </div>
</main>

<script>var loggedInUser = @accessControl.LoggedInAccountID</script>