@page
@model IndexModel
@inject ChatX.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
    
}


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script defer src="~/js/chat.js"></script>

<div id="app">
    <div v-if="!connected">
        <p>Connecting to server...</p>
    </div>
    <div v-else>
        <h1>ChatX</h1>
        <div v-for="message in messages" :key="message.id">
            <p>@accessControl.LoggedInAccountName: {{ message.content }}</p>
            <button v-if="message.sender === currentUser" v-on:click="deleteMessage(message.id)">Delete</button>
        </div>
        <form v-on:submit.prevent="sendMessage">
            <input type="text" v-model="newMessage" />
            <button>Send</button>
        </form>
    </div>
</div>