@page
@model IndexModel
@inject ChatX.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}


<body>
    <main>
        <h1>Welcome, @accessControl.LoggedInAccountName!</h1>


        <div class="container">

            <div class="input-container">
                <label for="msg" class="msgLabel">
                    Message: <input type="text" class="w-100" id="messageInput" name="msg"/>
                </label>
                <input type="button" id="sendButton" value="Send Message" />
            </div>
            <div class="button-container">
                <div class="col-6 text-end">
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <hr />
                </div>
            </div>
            <div class="list-container">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <input type="hidden" id="user" value="@accessControl.LoggedInAccountName">
    </main>

</body>
<style src=" ~ /css/site.css"></style>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
