@page
@using ChatX.Hubs;
@using ChatX.Authentication;
@model IndexModel
@inject AccessControl accessControl
@{
    ViewData["Title"] = "ChatX";
}

<div class="container">
    <h1><img src="~/js/MicrosoftTeams-image.png" /></h1>
    <div v-if="!connected">
        <p>Connecting to server...</p>
    </div>
    <div v-if="joinedRoomId === null">
        <h2>Available Chat Rooms</h2>
        <ul>
            <li class="chat-room" v-for="room in chatRooms" :key="room.id">
                <div class="room-text">
                    <p class="room-name">{{room.name}}</p>
                    <p class="created-by">Created by {{room.createdBy.name}}</p>
                </div>
                <div class="join-delete-room">
                    <button type="button" id="join-room-button" class="buttons" v-on:click="joinChatRoom(room.id)">Join</button>
                    <button type="button"
                            id="delete-room-button"
                            class="buttons"
                            v-if="room.createdBy.id === @accessControl.LoggedInAccountID"
                            v-on:click="deleteChatRoom(room.id)">
                        Delete
                    </button>
                </div>
            </li>
        </ul>
        <div>
            <form v-on:submit="createChatRoom">
                <label>Chatroom Name</label>
                <input class="messageInput" type="text" placeholder="Chat room name" v-model="newChatRoom" />
                <button class="buttons">Create Room</button>
            </form>
        </div>
        <form class="bot" method="post">
            <h3>DateBot - Find a Match Today!</h3>
            <button class="buttons" type="submit" asp-page-handler="Redirect">Go to DateBot!</button>
        </form>
    </div>
    <div v-else>
        <div class="list-container" v-for="message in messages" :key="message.id">
            <div id="userMsg" v-if="message.sender.id === @accessControl.LoggedInAccountID">
                <p><span class="username">@accessControl.LoggedInAccountName</span> {{ message.content }}</p>
                <button class="delete-mark" v-on:click="deleteMessage(message.id)"></button>
            </div>
            <div id="msg" v-else>
                <p><span class="username">{{ message.sender.name }}</span> {{ message.content }}</p>
            </div>
        </div>
        <div v-if="usersCurrentlyTyping.length > 0">
            <p class="currently-typing" v-if="usersCurrentlyTyping.length === 1">
                {{ usersCurrentlyTyping[0].name }} is typing...
            </p>
            <p class="currently-typing" v-else>Several people are typing...</p>
        </div>
        <div id="input-container">
            <form v-on:submit.prevent="sendMessage">
                <input class="messageInput" type="text" v-on:input="currentlyTyping" v-model="newMessage" v-bind:disabled="roomIsRemoved" />
                <button class="buttons" v-bind:disabled="roomIsRemoved">Send</button>
            </form>
            <button id="leave-button" class="buttons" v-on:click="leaveChatRoom">Leave Room</button>
            <div class="profile" v-for="profile in profiles">
                <p class="matchedProfile">You matched with: {{profile.firstName}} {{profile.lastName}} {{profile.age}}</p>
            </div>
        </div>
    </div>
</div>